@import "tailwindcss";

@layer base {
    .bg {
        background-color: #ff7130;
    }

    .headerPic {
        background-image: url(../img/header-banner-desktop.jpg);
        background-position: center;
        background-size: cover;
    }
    .bg-img{
        background-image: url();
    }
}

@layer utilities {
    .bt {
        @apply border border-blue-800
    }
    .fc{
        @apply flex justify-center items-center
    }
}

@layer components {
    .btnPrimary {
        @apply bg-black text-white text-xl rounded-4xl py-2 px-5 hover:opacity-90
    }
    .btnsecondery{
        @apply border-2 text-black border-black rounded-4xl py-2 px-5
    }
}

/* font */

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yekan\ bakh\ en\ 01\ hairline.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yekan\ bakh\ en\ 02\ thin.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yekan\ bakh\ en\ 03\ light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yekan\ bakh\ en\ 04\ regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yekan\ bakh\ en\ 05\ medium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yekan\ bakh\ en\ 05\ medium.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'YekanBakh';
    src: url('../fonts/yekan\ bakh\ en\ 07\ heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

body {
    font-family: "YekanBakh";
    font-weight: 700;
}